<strong>Olá {{user}}</strong>
<p>
  <strong>Você fez a seguinta pergunta:</strong> <br/>
  {{question}} <br/>

  <strong>Resposta:</strong> <br/>
  {{answer}} <br/>
  <small>Qualquer nova dúvida, estamos a disposição</small>
</p>
