<strong>Olá {{user}}</strong>
<p>Você agora está matriculado na Gympoint, confira os detalhes do seu cadastro abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br/>
  <strong>Plano válido até: </strong> {{end}} <br/>
  <strong>Valor: </strong> R${{price}} <br/>
  <small>Seja bem vindo!</small>

</p>
